html {
    background-color: lightcoral;
    color: black;
    font-family: "Quicksand", sans-serif;
    margin: 5%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;	
    aspect-ratio: 2/3;
    background-color: whitesmoke;
    border-radius: 20px;
}

.front {
    background-image: url("#");
    background-repeat: no-repeat;
    object-fit: cover;
}

.card p {
    margin: 5vh;
    text-align: center;
}